@if (project$()) {
  <div class="column-section" style="width: 300px">
    <lib-safe-image
      [url]="project$()?.bannerUrl"
      [altColor]="projectModel$.bannerColor"
    ></lib-safe-image>

    <div class="section">
      <div class="title">
        {{ project$()?.title }}
      </div>
      <div class="owner">
      </div>
    </div>

    <div class="line"></div>

    <div class="section">
      <div class="other-members">
        <b>Outros Membros:</b>
      </div>

      <div class="description">
        <b>Descrição:</b>
        {{ project$()?.description }}
      </div>
    </div>
  </div>

  <div class="column-section actions-section" style="width: 200px">
    <div class="button-container">
      <button>
        Enviar Pedido
      </button>
    </div>

    <div class="button-container">
      <button
        (click)="editProject()">
        Editar Projeto
      </button>
    </div>
  </div>
}
