@import "material_overwrites";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.pd-5 {
    padding: 5px;
}