@use "./material_overwrites" as material_overwrites;
@use "./mixins" as m;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.primary-button {
    background: #4687ff;
    color: #eeeeee;
    //$blue2: #3872e2;
}

.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.pd-5 {
    padding: 5px;
}