@use '../../../../styles/mixins' as m;

* {
    @include m.base();
}

:host {
    @include m.fill();
    @include m.col();
}

#form {
    @include m.col();
    padding: 20px;
    row-gap: 20px;
    width: 100%;
}

.btn-line {
    @include m.row();
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
}