* {
    box-sizing: border-box;
}
:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    column-gap: 60px;

    overflow: hidden;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background: #555;
}
#left, #right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    column-gap: 60px;
}
#right {
    justify-content: flex-end;
}

#system-title {
    font-size: 1.6rem;
    font-weight: 500;
}
#route-label-title {
    font-size: 1.3rem;
}



.usr-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    height: 40px;
    width: 40px;

    &:hover {
        background: #454545;
    }
}