<div id="left">
  <div id="system-title">Synergia</div>

  <div id="route-label-title">{{ routingService.routeLabel() }}</div>
</div>

<div id="right">
  <button
    class="usr-btn"
    [matMenuTriggerFor]="userMenu">
    <lib-gm-icon [type]="'rounded'" [image]="'account_circle'"></lib-gm-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <div mat-menu-item>
      {{ sessionService.getTenantId() }} - {{ sessionService.getTenantLabel() }}
    </div>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>

