@use '../../../styles/mixins' as m;


* {
    @include m.base();
}
:host {
    @include m.fill();
    @include m.col();
    overflow: hidden;
    padding: 10px;
    row-gap: 20px;
}
.col { @include m.col(); }
.row { @include m.row(); }