<div id="topline">
  <mat-form-field class="field" [appearance]="'outline'">
    <mat-label>Nome</mat-label>
    <input type="text" matInput [formControl]="connector.textFieldControl" />
  </mat-form-field>
  <button mat-raised-button (click)="createTagEvent.emit()" class="primary-button create-btn">
    <mat-icon>add</mat-icon>
    <span>Criar nova Tag</span>
  </button>
</div>

<div id="page">
  <lib-sig-extendable-table
    [actions]="actions"
    [columns]="columns"
    [data$]="data$"
  ></lib-sig-extendable-table>
</div>