<div id="banner">
  <lib-safe-image
    [url]="event$.bannerColor"
    [altColor]="event$.bannerColor"
  ></lib-safe-image>
</div>

<div id="content-container">

  <div id="section-title">
    {{ event$.title }}
  </div>

  <div id="section-tags">
    <div id="tags-container">
      <mat-chip-set aria-label="Fish selection">
        @for (tag of event$.tags; track tag.id) {
          <mat-chip
            [removable]="true"
            (removed)="removeTagEvent.emit(tag)">
            {{ tag.title }}
            <button matChipRemove [attr.aria-label]="'remove'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }
      </mat-chip-set>

      <lib-add-tag-btn
        [forEvents]="true"
        (saveTagEvent)="saveTagEvent.emit($event)"
      ></lib-add-tag-btn>
    </div>
  </div>

  <div id="section-description">
    <div id="section-header">Descrição:</div>
    <div id="section-value">{{ event$.description }}</div>
  </div>

  <div id="section-feed">
    <div id="section-header">Feed:</div>
    <div id="feed-container">
      <lib-add-post-btn
        (savePostEvent)="savePostEvent.emit($event)"
      ></lib-add-post-btn>
    </div>
  </div>
</div>