* {
    box-sizing: border-box;
}
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}
#topline {
    display: flex;
    width: 100%;
    height: 70px;
    column-gap: 10px;
    align-items: center;
    .field { flex: 1; }
}
