<div id="form-container">
    <div>
        @if (tenantSelecionado() != null) {
            <b>Tenant:</b>
            {{ tenantSelecionado()?.title }}
        }
    </div>

    <mat-form-field [appearance]="'outline'">
        <mat-label>Usuário</mat-label>
        <input matInput type="text" [formControl]="form.controls.user">
    </mat-form-field>

    <mat-form-field [appearance]="'outline'">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [formControl]="form.controls.password">
    </mat-form-field>

    <div id="buttons-container">
        <button 
            class="login-button"
            matRipple 
            [disabled]="!form.valid"
            (click)="attemptLogin()">
            Login
        </button>
    </div>
</div>

<div id="tenant-list-container">
    <div id="tenant-list-iterator">
        @for (item of listaTenants(); track $index) {
            <button matRipple class="tenant-option" (click)="selecionarTenant(item)">
                {{item.title}}
            </button>
        }
    </div>
    <button id="create-new-tenant-option" (click)="createTenant()">
        Criar Novo Tenant
    </button>
</div>