@mixin row {
    display: flex;
    flex-direction: row;
}
@mixin col {
    display: flex;
    flex-direction: column;
}

:host {
    @include row();    
    width: 100%;
    position: relative;
}
#form-container {
    @include col();
    row-gap: 10px;

    width: 90%;
    max-width: 450px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: rgba(255, 255, 255, 0.233) 0px 1px 3px 0px, rgba(255, 255, 255, 0.233) 0px 0px 0px 1px;    padding: 15px;
    
    #buttons-container {
        @include row();
        justify-content: flex-end;
        align-items: center;
        
        .login-button {
            @include row();
            align-items: center;
            justify-content: center;
            height: 35px;
            background: none;
            font-size: 1rem;
            border: none;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;
            background: #4687ffcc;
            color: white;
            &:hover {
                background: #4687ff;
            }
            &:disabled {
                background: #4687ff77;
            }

        }
    }
}

#tenant-list-container {
    @include col();
    padding: 5px;
    row-gap: 5px; 
    .tenant-option,
    #create-new-tenant-option {
        height: 30px;
        border: none;
        background: none;
        padding: 2px 8px 2px 8px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.30) 0px 0px 0px 1px;

        &:hover {
            background: #ddd;
            cursor: pointer;
        }
    }
    #tenant-list-iterator {
        @include col();
        row-gap: 5px;
        .tenant-option {}
    }
    #create-new-tenant-option {
        font-weight: bold;
    }
}