<mat-form-field [appearance]="'outline'">
  <mat-label>Título</mat-label>
  <input type="text" matInput [formControl]="connector.form.controls.title"/>
</mat-form-field>

<mat-form-field [appearance]="'outline'">
  <mat-label>Descrição</mat-label>
  <input type="text" matInput [formControl]="connector.form.controls.description" />
</mat-form-field>

<mat-form-field [appearance]="'outline'">
  <mat-label>URL Imagem Banner</mat-label>
  <input type="text" matInput [formControl]="connector.form.controls.bannerUrl" />
</mat-form-field>
