<div id="form">
  <mat-form-field [appearance]="'outline'" class="search-field">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Procure por Projetos</mat-label>
    <input type="text" matInput [formControl]="connector.form.controls.text"/>
  </mat-form-field>

  <mat-form-field [appearance]="'outline'" class="tags-field">
    <mat-label>Filtrar por Tags</mat-label>
    <input
      type="text"
      matInput
      [formControl]="tagSearchControl"
      [matAutocomplete]="tagAuto"
      [placeholder]="tagsPlaceholder()"
      #tagTrigger="matAutocompleteTrigger"
    />
    <mat-autocomplete #tagAuto="matAutocomplete" [hideSingleSelectionIndicator]="true" (optionSelected)="selectTag($event, tagTrigger)">
      @for (tag of filteredTags$(); track tag.id) {
        <mat-option [value]="tag">
          @if (isSelected(tag)) {
            <mat-icon class="selected-check">check</mat-icon>
          }
          {{ tag.title }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
